@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Database Test</h2>
        <ul>
            <li>@(((bool)ViewData["Error"]) ? "Unknown" : Model.Title)</li>
            <li>@(((bool)ViewData["Error"]) ? "Unknown" : Model.Content)</li>
            <li>@(((bool)ViewData["Error"]) ? "Unknown" : Model.Slug)</li>
            <li>@(((bool)ViewData["Error"]) ? "From Unknown Blog" : "From Blog: " + Model.Blog.Name)</li>
            <li>@(((bool)ViewData["Error"]) ? "From Unknown Author" : "Author: " + Model.Author.FirstName + " " + Model.Author.LastName)</li>
        </ul>
    </div>
</div>
